@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 16px;
}

p.size-medium {
  font-size: 18px;
}

p.size-large {
  font-size: 20px;
}

/* 
If there's any error about "Unknown Rule", you can add the following line at 

CTRL + P -> settings.json -> User Settings (JSON)

{
  "css.lint.unknownAtRules": "ignore"
}
*/
